{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/blog.css" %}">
</head>
<body>
	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
	<div id="sidebar">
	<h2>Mój Blog</h2>
		<p>To jest mój blog. Dotychczas opublikowałem {% total_posts %} postów</p>
		<h4>Najnowsze posty</h4>
		{% show_latest_posts 5 %}
		<h4>Najczęściej komentowane posty</h4>
		{% get_most_commented_posts as most_commented_posts %}
		<ul>
			{% for post in most_commented_posts %}
			<li>
				<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
			</li>
			{% endfor %}
		</ul>	
	</div>
</body>
</html>