{% extends "blog/base.html" %}

{% block title %}Mój blog{% endblock %}

{% block content %}
	<h1>Mój Blog</h1>
	{% if tag %}
		<h2>Posty oznaczone tagiem "{{ tag.name }}"</h2>
	{% endif %}
	{% for post in posts %}
		<h2>
			<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
			<p class="tags">Tagi: 
				{% for tag in post.tags.all %}
				<a href="{% url "blog:post_list_by_tag" tag.slug %}">{{ tag.name }}</a>
				{% if not forloop.last %}, {% endif %}
				{% endfor %}
			</p>
		</h2>
		<p class="date">Opublikowany {{ post.publish }} przez {{ post.author }}</p>
		{{ post.body|truncatewords:30|linebreaks}}
	{% endfor %}
	{% include "pagination.html" with page=page_obj %}
{% endblock %}