{% extends "blog/base.html" %}

{% block title %}Udostępnij post{% endblock %}

{% block content %}
	{% if sent %}
	<h1>Wiadomość została wysłana</h1>
	<p>Wysłanie posta "{{ post.title }}" do {{ form.cleaned_data.to }} zakończyło się sukcesem</p>
	{% else %}
	<h1>Udostępnij "{{ post.title }}" przez e-mail</h1>
	<form action="." method="post">
		{{ form.as_p }}
		{% csrf_token %}
		<input type="submit" value="Wyślij wiadomość e-mail">
	</form>
	{% endif %}
{% endblock %}
